In [20]:
import pandas as pd
data = pd.read_csv('olympics.csv')
print("########################################################################################################")
print(data)
print("########################################################################################################")

                                            ### Exploring the dataset ###
    
data.head()   # this will display the first few rows of dara
print(data.head())
print("########################################################################################################")
data.describe() # basic statistics
print(data.describe())
print("########################################################################################################")
print(data.dtypes) # prints the type of data
print("########################################################################################################")
print(data.isnull().sum()) #number of missing values in each columns

                                        ###Handling the missing values###
    ## this is the option A for dropping the value
print("########################################################################################################")
data = data.dropna()   # this will drop the row with missing values
# here i this the row with Summer will be dropped
print(data)

    ## this is the option B for filling the missing value
print("########################################################################################################")
# i think here i can write the logic to find the missing column and direclty providing the value to the function
# but right now i am way to sleepy no its almost 26 hours with 4 hours of sleep
data['1'].fillna(data['1'].mean(), inplace=True)
print(data)
print(data.isnull().sum()) #here everything will be zero bcz from the above step it has filled the missing value

                                        ### Data PreProcessing ###

########################################################################################################
                                                0         1     2     3     4  \
0                                             NaN  ? Summer  01 !  02 !  03 !
1                               Afghanistan (AFG)        13     0     0     2
2                                   Algeria (ALG)        12     5     2     8
3                                 Argentina (ARG)        23    18    24    28
4                                   Armenia (ARM)         5     1     2     9
..                                            ...       ...   ...   ...   ...
143  Independent Olympic Participants (IOP) [IOP]         1     0     1     2
144                            Zambia (ZAM) [ZAM]        12     0     1     1
145                          Zimbabwe (ZIM) [ZIM]        12     3     4     1
146                        Mixed team (ZZX) [ZZX]         3     8     5     4
147                                        Totals        27  4809  4775  5130

         5         6     7     8     9     10       11    12    13    14  \
0    Total  ? Winter  01 !  02 !  03 !  Total  ? Games  01 !  02 !  03 !
1        2         0     0     0     0      0       13     0     0     2
2       15         3     0     0     0      0       15     5     2     8
3       70        18     0     0     0      0       41    18    24    28
4       12         6     0     0     0      0       11     1     2     9
..     ...       ...   ...   ...   ...    ...      ...   ...   ...   ...
143      3         0     0     0     0      0        1     0     1     2
144      2         0     0     0     0      0       12     0     1     1
145      8         1     0     0     0      0       13     3     4     1
146     17         0     0     0     0      0        3     8     5     4
147  14714        22   959   958   948   2865       49  5768  5733  6078

                 15
0    Combined total
1                 2
2                15
3                70
4                12
..              ...
143               3
144               2
145               8
146              17
147           17579

[148 rows x 16 columns]
########################################################################################################
                   0         1     2     3     4      5         6     7     8  \
0                NaN  ? Summer  01 !  02 !  03 !  Total  ? Winter  01 !  02 !
1  Afghanistan (AFG)        13     0     0     2      2         0     0     0
2      Algeria (ALG)        12     5     2     8     15         3     0     0
3    Argentina (ARG)        23    18    24    28     70        18     0     0
4      Armenia (ARM)         5     1     2     9     12         6     0     0

      9     10       11    12    13    14              15
0  03 !  Total  ? Games  01 !  02 !  03 !  Combined total
1     0      0       13     0     0     2               2
2     0      0       15     5     2     8              15
3     0      0       41    18    24    28              70
4     0      0       11     1     2     9              12
########################################################################################################
                        0    1    2    3    4    5    6    7    8    9   10  \
count                 147  148  148  148  148  148  148  148  148  148  148
unique                147   28   55   55   57   76   22   26   25   28   35
top     Afghanistan (AFG)    5    0    1    0    1    0    0    0    0    0
freq                    1   17   47   27   23   26   45  109  104  105  101

         11   12   13   14   15
count   148  148  148  148  148
unique   45   56   55   64   75
top      11    0    1    0    1
freq     17   46   26   22   26
########################################################################################################
0     object
1     object
2     object
3     object
4     object
5     object
6     object
7     object
8     object
9     object
10    object
11    object
12    object
13    object
14    object
15    object
dtype: object
########################################################################################################
0     1
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
dtype: int64
########################################################################################################
                                                0   1     2     3     4  \
1                               Afghanistan (AFG)  13     0     0     2
2                                   Algeria (ALG)  12     5     2     8
3                                 Argentina (ARG)  23    18    24    28
4                                   Armenia (ARM)   5     1     2     9
5                         Australasia (ANZ) [ANZ]   2     3     4     5
..                                            ...  ..   ...   ...   ...
143  Independent Olympic Participants (IOP) [IOP]   1     0     1     2
144                            Zambia (ZAM) [ZAM]  12     0     1     1
145                          Zimbabwe (ZIM) [ZIM]  12     3     4     1
146                        Mixed team (ZZX) [ZZX]   3     8     5     4
147                                        Totals  27  4809  4775  5130

         5   6    7    8    9    10  11    12    13    14     15
1        2   0    0    0    0     0  13     0     0     2      2
2       15   3    0    0    0     0  15     5     2     8     15
3       70  18    0    0    0     0  41    18    24    28     70
4       12   6    0    0    0     0  11     1     2     9     12
5       12   0    0    0    0     0   2     3     4     5     12
..     ...  ..  ...  ...  ...   ...  ..   ...   ...   ...    ...
143      3   0    0    0    0     0   1     0     1     2      3
144      2   0    0    0    0     0  12     0     1     1      2
145      8   1    0    0    0     0  13     3     4     1      8
146     17   0    0    0    0     0   3     8     5     4     17
147  14714  22  959  958  948  2865  49  5768  5733  6078  17579

[147 rows x 16 columns]
########################################################################################################
                                                0   1     2     3     4  \
1                               Afghanistan (AFG)  13     0     0     2
2                                   Algeria (ALG)  12     5     2     8
3                                 Argentina (ARG)  23    18    24    28
4                                   Armenia (ARM)   5     1     2     9
5                         Australasia (ANZ) [ANZ]   2     3     4     5
..                                            ...  ..   ...   ...   ...
143  Independent Olympic Participants (IOP) [IOP]   1     0     1     2
144                            Zambia (ZAM) [ZAM]  12     0     1     1
145                          Zimbabwe (ZIM) [ZIM]  12     3     4     1
146                        Mixed team (ZZX) [ZZX]   3     8     5     4
147                                        Totals  27  4809  4775  5130

         5   6    7    8    9    10  11    12    13    14     15
1        2   0    0    0    0     0  13     0     0     2      2
2       15   3    0    0    0     0  15     5     2     8     15
3       70  18    0    0    0     0  41    18    24    28     70
4       12   6    0    0    0     0  11     1     2     9     12
5       12   0    0    0    0     0   2     3     4     5     12
..     ...  ..  ...  ...  ...   ...  ..   ...   ...   ...    ...
143      3   0    0    0    0     0   1     0     1     2      3
144      2   0    0    0    0     0  12     0     1     1      2
145      8   1    0    0    0     0  13     3     4     1      8
146     17   0    0    0    0     0   3     8     5     4     17
147  14714  22  959  958  948  2865  49  5768  5733  6078  17579

[147 rows x 16 columns]
0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
dtype: int64